@charset "UTF-8";

// Mixins
// @import "components/prefixer";
@import "components/mixins";
@import "components/color";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
@import "components/grid";
@import "components/navbar";
@import "components/typography";
@import "components/cards";
@import "components/toast";
@import "components/tooltip";
@import "components/buttons";
@import "components/waves";
@import "components/modal";
@import "components/forms/forms";
@import "components/preloader";


//Global Styles
.greyFont {
	color: #424242 !important;
}

button {
	border-bottom: 1px solid #009688 !important;
}

.btn {
	vertical-align: top;
}

* {
	font-family: 'VT323', 'Share Tech Mono', monospace;
}




//Nav Style Elements
nav {
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #9FA8DA;
    border-bottom: 5px solid #009688;
}
.logo {
	@extend .col;
	@extend .s12;
	@extend .center-align;
	font-size: 3em;
	margin: 0 0 .5em 0;
	padding: 0;
	color: #009688;
	min-height: 49px;
}
#nav-wrapper {
	margin-bottom: 0;
}
#style-wrapper {
	line-height: 1em;
	margin-top: 1em;
}
.checkbox {
	margin: 0;
	padding: 0;
}
.materialize-textarea {
	@extend .indigo;
	@extend .lighten-4;
}
.clear-button-indigo {
	@extend .indigo;
	@extend .btn;
	@extend .col;
	@extend .offset-s2;
	@extend .s8;
}
.input-field {
	margin-left: 50px !important;
}

#user-select {
	display: inline-block;
}



//Message Styles
#message-display {
	@extend .col;
	@extend .s10;
	@extend .offset-s1;
	@extend .card-panel;
	@extend .indigo;
	@extend .lighten-3;
	min-height: 200px !important;
	border-bottom: 5px solid #009688;
}
#message-wrapper {
	padding-top: 150px;
	padding-bottom: 300px;
	margin-bottom: 0;
	@extend .row;
}
.align-right {
	text-align: right;
}

.message-card {
	@extend .col;
	@extend .s12;
	@extend .valign-wrapper;
	@extend .card-panel;
	@extend .indigo;
	@extend .lighten-4;
	@extend .row;
	border-bottom: 3px solid #009688;
}
#new-message {
	margin: 0 0 .5em 0;
	padding: 0;
	line-height: 1em;

}
.text-message {
	@extend .flow-text;
	@extend .col;
	@extend .s8;
	@extend .valign;
	@extend .truncate;
}

.delete-button {
	@extend .btn;
	@extend .indigo;
	@extend .col;
	@extend .s4;
	@extend .valign;
}



//Modal/Tooltip Styles
.modal {
	box-shadow: 0px 0px 100px 20px #009688;
}
.backdrop {
    background-color: #009688;
}



//Large Text Class
.large-text {
	font-size: 4em;
}



//Dark Theme
.materialize-textarea-dark {
	@extend .materialize-textarea;
	@extend .grey;
	@extend .darken-3;
	color: #fff;
}
.message-card-dark {
	@extend .message-card;
	@extend .grey;
	@extend .darken-3;
	color: #fff;
}
.nav-dark {
	@extend .grey;
	@extend .lighten-3;
	color: #000;
}
.message-wrapper-dark {
	@extend .grey;
	@extend .darken-3;
	color: #fff;
}
.clear-button-dark {
	@extend .clear-button-indigo;
	@extend .grey;
	@extend .darken-3;
	@extend .waves-light;
}
.delete-button-dark {
	@extend .delete-button;
	@extend .grey;
	@extend .lighten-3;
	color: #000;
}
.message-display-dark {
	@extend .grey;
	@extend .lighten-3;
}
